
<h1>Escpace Membre</h1>
<ul class="nav flex-column bg-light-blue">
  <li class="nav-item">
    <a class="nav-link " href="{{ path('app_account') }}">Mes Commandes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mes Adresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_account_modifier_passe') }}">Modifier Mon Mot de passe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_logout') }}"> se Déconnecter</a>
  </li>
</ul>