{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
        <h1>Escpace Membre Privé</h1>
        <a href="{{ path('app_logout') }}">déconnecter</a>
    </div>
{% endblock %}
