{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
        <h1>Escpace Membre Privé</h1>
        <h1>Modification de Mot de passe</h1>
        {{ form(modifierPassword) }}

    </div>
{% endblock %}
